{% extends 'base.html' %}
{% block 'body' %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-10">
                <h1>Resultados</h1>
            </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Resultados de prueba</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Service</th>
                  <th>Logistic Type</th>
                  <th>Shipment</th>
                  <th>Response Type</th>
                  <th>Pass test</th>
                  <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for result in list_results %}
                    <tr>
                        <td>{{ result.test_plan.service }}</td>
                        <td>{{ result.test_plan.logistic_type }}</td>
                        <td>{{ result.test_plan.shipment_id }}</td>
                        <td>{{ result.test_plan.response_type }}</td>
                        <td>{{ result.pass_test }}</td>
                        <td>
                            <a href="{% url 'detail_results' result.pk %}" class="btn btn-info"><em class="far fa-eye"></em></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                  <th>Service</th>
                  <th>Logistic Type</th>
                  <th>Shipment</th>
                  <th>Response Type</th>
                  <th>Pass test</th>
                  <th>Acciones</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
<!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
{% endblock 'body' %}
{% block 'js' %}
    $(function () {
        $('#example2').DataTable({
          "paging": true,
          "lengthChange": false,
          "searching": false,
          "ordering": true,
          "info": true,
          "autoWidth": false,
        });
      });
{% endblock 'js' %}